<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/qunit-1.14.0.css' />
		<script type="text/javascript" src='/js/client.js' ></script>
	</head>
	<body>
		<!-- unit test 
		<div id="qunit"></div>
  		<div id="qunit-fixture"></div>
  		<script type="text/javascript" src='/test/qunit-1.14.0.js' ></script>
		<script type="text/javascript" src='/test/test.js' ></script> -->
		
		<!-- FB JS SDK -->
		<div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
		  FB.init({
			appId      : '1390272947922545',
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		  });

		  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
		  // for any authentication related change, such as login, logout or session refresh. This means that
		  // whenever someone who was previously logged out tries to log in again, the correct case below 
		  // will be handled. 
		  FB.Event.subscribe('auth.authResponseChange', function(response) {
			// Here we specify what we do with the response anytime this event occurs. 
			if (response.status === 'connected') {
			  //user is logged in
			  uponSuccesfulLogin(response.authResponse.accessToken);
			} else if (response.status === 'not_authorized') {
			  FB.login();
			} else {
				// executed after logout
			  //FB.login();
			}
		  });
		  };

		  // Load the SDK asynchronously
		  (function(d){
		   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		   if (d.getElementById(id)) {return;}
		   js = d.createElement('script'); js.id = id; js.async = true;
		   js.src = "//connect.facebook.net/en_US/all.js";
		   ref.parentNode.insertBefore(js, ref);
		  }(document));

		</script>

		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<br/>
		<span id="loginButton" type="button" onclick=loginUser() class="fbButton">Login using Facebook</span>

		<div id="results" style="display:none">
			<img src='' id='picture'></img><br/>
			<h1 id='namePlaceholder'></h1><br/>
			<a href=javascript:void(0) onclick=logout()>Logout</a>
		</div>
	</body>
</html>